.table-responsive {
  border: 1px solid #000;
}

.table-light, .table-light>td, .table-light>th {
  background-color: #fdfdfe;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.table-bordered td:first-child, .table-bordered th:first-child {
  border-left: 0;
  width: 13.33%;
}

thead {
	background: rgb(204, 204, 204);
}

thead th {
	font-weight: normal;
	padding: 4px 3px;
	text-align: left;
}

.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 2px;
}

.table thead th {
  vertical-align: bottom;
  border-left: 1px solid #000;
}

.table-bordered td, .table-bordered th {
  border-left: 1px solid #000;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
}

th {
  text-align: inherit;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.05);
}

.table-container {
  width: 30rem;
}

.text-center {
  text-align: center;
}

legend {
  padding-left: 0;
}

fieldset {
  margin-top: 3rem;
}

.client-check {
  cursor: pointer;
}

tbody tr:hover, .active_client {
  cursor: pointer;
  background-color: rgb(154, 191, 240)!important;
}


/* Sticky Table */

thead {
	display: block;
  width: 100%;
  padding-right: 15px;
}

tbody {
  display: block;
  max-height: 200px;
  overflow-y: scroll;
  width: 100%;
}
th, td {
  width: 33.33%;
  padding: 5px;
  word-break: break-all;
}

tr {
  display: table;
  width: 100%;
  box-sizing: border-box;
}
