.App-Select {
  width: 120px;
  margin-top: .5rem;
}

html, body {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  height: 100%;
}

.Lab__title {
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 5rem;
  margin-top: 0;
}

input:focus, button:focus {
  outline: none!important;
}

label {
  font-weight: 500;
  font-size: 14px;
}
