.App-Select {
  width: 120px;
  margin-top: .5rem;
}

html, body {
  height: 100%;
}

.Lab__title {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 5rem;
  margin-top: 0;
}

input:focus, button:focus {
  outline: none!important;
}

label {
  font-weight: 500;
  font-size: 14px;
}
